asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.6
Django==3.2.7
ibm-cloud-sdk-core==3.11.3
ibm-watson==5.3.0
idna==3.2
PyJWT==2.1.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
websocket-client==1.1.0
